.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  
  .logo img {
    height: 40px;
  }

  .icons i {
    margin-left: 15px;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.logo {
  width: 150px; /* Adjust the width to your desired size */
  height: auto; /* Maintain the aspect ratio */
  max-width: 100%; /* Ensure the logo is responsive */
}
